apiVersion: tekton.dev/v1
kind: PipelineRun
metadata:
  annotations:
    build.appstudio.openshift.io/repo: {{ git_url }}?rev={{ "{{revision}}" }}
    build.appstudio.redhat.com/commit_sha: '{{ "{{revision}}" }}'
    build.appstudio.redhat.com/pull_request_number: '{{ "{{pull_request_number}}" }}'
    build.appstudio.redhat.com/target_branch: '{{ "{{target_branch}}" }}'
    pipelinesascode.tekton.dev/cancel-in-progress: "true"
    pipelinesascode.tekton.dev/max-keep-runs: "3"
    pipelinesascode.tekton.dev/on-cel-expression: |
      event == "pull_request"
        && target_branch == "main"
        && ( 
          "./{{ path_context }}/**".pathChanged()
            || ".tekton/pipelines/multi-arch-container-build.yaml".pathChanged()
            || ".tekton/{{ component_name }}-pull-request.yaml".pathChanged()
        )
  creationTimestamp: null
  labels:
    appstudio.openshift.io/application: devops-images
    appstudio.openshift.io/component: {{ component_name }}
    pipelines.appstudio.openshift.io/type: build
  name: {{ component_name }}-on-pull-request
  namespace: rhoai-tenant
spec:
  params:
  - name: git-url
    value: '{{ "{{source_url}}" }}'
  - name: revision
    value: '{{ "{{revision}}" }}'
  - name: output-image
    value: {{ image_prefix }}/{{ image_name }}:on-pr-{{ "{{revision}}" }}
  - name: additional-tags
    value:
      - on-pr-{{ "{{pull_request_number}}" }}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
    - linux/x86_64
    - linux/arm64
  - name: dockerfile
    value: Containerfile
  - name: path-context
    value: {{ path_context }}
  - name: build-args-file
    value: ./{{ path_context }}/argfile.conf
{%- if additional_secret is defined and additional_secret %}
  - name: additional-secret
    value: {{ additional_secret }}
{%- endif %}
  - name: skip-checks
    value: true
  pipelineRef:
    resolver: git
    params:
      - name: url
        value: "{{ git_url }}.git"
      - name: revision
        value: '{{ "{{revision}}" }}'
      - name: pathInRepo
        value: ".tekton/pipelines/multi-arch-container-build.yaml"
  taskRunTemplate:
    serviceAccountName: build-pipeline-{{ component_name }}
  workspaces:
  - name: git-auth
    secret:
      secretName: '{{ "{{ git_auth_secret }}" }}'
status: {}
